
html, body {
    padding-left: 0;
    padding-right: 30px;
    width: 99%;
    height: 100%;
    font-family: Arial;
    font-size: 95%;
    overflow-x: hidden;
}

td {
    text-align: left;
    height: 25px;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:nth-child(odd) {
    background-color: #d8d8d8;
}

th {
    background-color: #c8c8e8;
    color: black;
}

.extender {
    border-style: none;
    width: 99%;
    padding-left: 0;
}

/*colores estado incidencias*/
.nueva {
    background-color: #fcbdbd;
}

.aceptada {
    background-color: #fff494;
}

.asignada {
    background-color: #c8e1e8;
}

.feedback {
    background-color: #fcdcbd;
}

.resuelta {
    background-color: #d2f5b0;
}

.cerrada {
    background-color: #c1c1c1;
}
